{{ define "globals/drawer.tmpl" }}
<div class="mdui-drawer" id="main-drawer">
    <ul class="mudi-list mdui-p-l-0">
        <li class="mdui-list-item mdui-ripple mdui-list-item-active  mdui-list-item-active">
            <i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
            <div class="mdui-list-item-content">首页</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">format_list_bulleted</i>
            <div class="mdui-list-item-content">文章列表</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">storage</i>
            <div class="mdui-list-item-content">文件管理</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
            <div class="mdui-list-item-content">设置</div>
        </li>
    </ul>
</div>
{{ end }}