{{ define "globals/footer.tmpl" }}
<footer class="writer-footer mdui-color-grey-200 mdui-p-y-0 mdui-text-center">
    <p class="mdui-center">
        Copyright by {{ .title }}
    </p>
</footer>
{{ end }}