{{ define "globals/header.tmpl" }}
<div class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <button mdui-drawer="{target: '#main-drawer'}" class="mdui-btn mdui-btn-icon" ><i class="mdui-icon material-icons">menu</i></button>
        <a class="mdui-typo-headline" href="/">Gowriter</a>
        <div class="mdui-toolbar-spacer"></div>
        <a class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">settings</i></a>
        <a class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
    </div>
</div>
{{ end }}