{{ define "home/posts.tmpl"}}
<!doctype html>
<html lang="zh-cmn-Hans" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- MDUI CSS -->
    <link href="/assets/css/mdui.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css"/>
    <link rel="stylesheet" href="/assets/css/gowriter.css"/>
    <title>Gowriter</title>
    <style>
    </style>
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-indigo"
      onload="initFilelist();">
{{ template "globals/header.tmpl" .}}
{{ template "globals/drawer.tmpl" .}}
<div class="mdui-container mdui-card main-content mdui-m-a-2 mdui-center mdui-p-x-0">
    <div class="posts-panel">
        <!--  文章列表  -->
        <div class="article-selector mdui-tab-scrollable">
            <select class="mdui-select" mdui-select>
                <option value="1">类型</option>
                <option value="2">文章</option>
                <option value="3" disabled>State 3</option>
                <option value="4">State 4</option>
                <option value="5">State 5</option>
                <option value="6">State 6</option>
            </select>
            <select class="mdui-select" mdui-select>
                <option value="1">分类</option>
                <option value="2">所有分类</option>
                <option value="3" disabled>State 3</option>
                <option value="4">State 4</option>
                <option value="5">State 5</option>
                <option value="6">State 6</option>
            </select>
            <select class="mdui-select" mdui-select>
                <option value="1">状态</option>
                <option value="2">所有状态</option>
                <option value="3" disabled>State 3</option>
                <option value="4">State 4</option>
                <option value="5">State 5</option>
                <option value="6">State 6</option>
            </select>
        </div>
        <div class="mdui-divider"></div>

        <!--文章列表-->
        <div class="mdui-panel posts-list" mdui-panel="{accordion: true}" id="filelist">
        </div>

        <div class="mdui-divider"></div>
        <!--分页按钮组-->
        <div class="mdui-btn-group mdui-center mdui-text-center page-btn-group">
            <button type="button" class="mdui-btn"><i class="mdui-icon material-icons">keyboard_arrow_left</i></button>
            <button type="button" class="mdui-btn"><i class="mdui-icon material-icons">keyboard_arrow_right</i></button>
        </div>
    </div>
</div>
{{ template "globals/footer.tmpl" .}}
<!-- script -->
<script src="/assets/js/mdui.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script>
<script src="/assets/js/filelist.js"></script>
</body>
{{ end }}